@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --shadow-solid: -10px 10px 0 var(--dark);
    --dark: #11111b;
    --base: #1e1e2e;
    --surface-1: #313244;
    --surface-2: #4c4f69;
    --overlay: #7f849c;
    --light: #cdd6f4;
    --lavender: #b4befe;
    --background: var(--base);
    --foreground: var(--light);
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: var(--lavender);
    --primary-foreground: var(--dark);
    --primary-hover: #b7bdf8;
    --secondary: var(--light);
    --secondary-foreground: var(--dark);
    --muted: var(--surface-2);
    --muted-foreground: var(--overlay);
    --accent: var(--light);
    --accent-foreground: var(--base);
    --destructive: #f38ba8;
    --destructive-foreground: var(--dark);
    --destructive-hover: #ed8796;
    --border: var(--surface-2);
    --input: var(--light);
    --ring: var(--light);
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --blue-node: #a1e8ff;
    --green-node: #9cffa0;
    --yellow-node: #ffe177;
    --red-node: #ff6767;
    --node-shadow: -3px 3px 0 0 rgba(49, 50, 68, 0.5);
    --window-shadow: -3px 3px 5px 5px rgba(17, 17, 27, 0.2);
  }
}

.prose ul {
  list-style-type: disc;
  margin-left: 1.5rem;
}
.prose #title {
  font-size: large;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.prose h3 {
  font-size: medium;
  text-decoration: underline;
}
.prose #subtitle {
  font-size: large;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.prose #code {
  background-color: #4b5563;
  padding: 0.1rem;
  border-radius: 0.15rem;
  color: white;
}

.prose #terminal {
  background-color: #262626;
  padding: 0.1rem;
  border-radius: 0.15rem;
  color: white;
}

.prose green {
  color: #9cffa0;
}
.prose red {
  color: #f08080;
}
.prose orange {
  color: #ffb266;
}
.prose purple {
  color: #c8a0ee;
}
.prose yellow {
  color: #f0f0a3;
}
.prose blue {
  color: #97d9ee;
}
.prose pink {
  color: #ffb3d9;
}
.prose brown {
  color: #d9b3a0;
}
.prose gray {
  color: #b3b3b3;
}
.prose a {
  color: #83a9fb;
  text-decoration: none;
}
.prose .mover:hover ~ .image {
  display: block;
  opacity: 1;
  transform: translateY(0);
}
.prose .mover:hover {
  cursor: pointer;
  color: #ff6767;
}
.prose .image {
  opacity: 0;
  transform: translateY(-10px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  display: none;
}
@keyframes pulse-opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
.flicker {
  animation: pulse-opacity 2s infinite ease-in-out;
}

.stderr {
  color: #f04d4b;
}

.md-prose pre {
  background-color: #262626;
  padding: 0.1rem;
  border-radius: 0.15rem;
  color: white;
  overflow-x: auto;
}
